<%- include("partials/header") %>

<h2>Edit Profile</h2>
<form action="/editprofile" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= user.name %>" required>

  <label>Username:</label>
  <input type="text" name=username" value="<%= user.username %>" required>

  <label>Email:</label>
  <input type="email" name="email" value="<%= user.email %>" required>

  <label>Contact:</label>
  <input type="text" name="contact" value="<%= user.contact %>" required>

  <button type="submit">Update Profile</button>
</form>
<form action="/deleteuser" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.')">
  <button type="submit" class="btn btn-danger">Delete My Account</button>
</form>


<%- include("partials/footer") %>
