<%- include('partials/header') %>

<div class="profile">
<div class="profileArtContent">
    <div class="cards">
        <% post.forEach(elem => { %>
            <div class="card">
                <div>
                    <img class="profileImage" src="/images/uploads/<%=elem.image%>" alt="">
                </div>
                <h4>@<%= elem.user.username %></h4>
                <h3><%= elem.title %></h3>
                <button class="downloadBtn" style="width: 100%;">Download Art</button>
            </div>
        <% }); %>
    </div>
</div>
</div>

<script>
    document.querySelectorAll('.downloadBtn').forEach((btn, index) => {
        btn.addEventListener('click', function () {
            const imageUrl = document.querySelectorAll('.profileImage')[index].src;
            const a = document.createElement('a');
            a.href = imageUrl;
            a.download = `profile_image_${index + 1}.jpg`; // Unique filename for each image
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    });
</script>


<%- include('partials/footer') %>

